server:
  port: 6868

spring:
  application:
    name: imustacm-eureka
  security:
    user:
      name: [name]
      password: [password]
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@backend-eureka:${server.port}/eureka

